.form {
  margin-bottom: 1rem;
  display: flex;
  height: 5rem;
  width: 100%;
}

.input {
  padding: 1rem;
  border: none;
  font-size: 2rem;
  color: MidnightBlue;
  width: 100%;

  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

input:focus {
  outline: none;  
}

.button {
  padding: 1rem;
  border: none;
  color: white;
  opacity: 0.5;
  text-transform: uppercase;
  cursor: pointer;

  background: linear-gradient(90deg, lightblue, MidnightBlue);
  transition: all 0.5s linear;

  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.button:hover {
  opacity: 1;
}